Repository apache/logging-log4j2, pull requests merged in 2024-02, with the labels that each got.

#2280 Reset the fallback listener on `StatusLogger#reset()`
  log4j-api-test/src/test/java/org/apache/logging/log4j/status/StatusConsoleListenerTest.java
  log4j-api-test/src/test/java/org/apache/logging/log4j/status/StatusLoggerResetTest.java
  log4j-api/src/main/java/org/apache/logging/log4j/status/StatusConsoleListener.java
  log4j-api/src/main/java/org/apache/logging/log4j/status/StatusLogger.java
Labels: bug

#2282 The core.Logger#setLevel method should work like
  log4j-1.2-api/src/main/java/org/apache/log4j/Category.java
  log4j-1.2-api/src/main/java/org/apache/log4j/helpers/OptionConverter.java
  log4j-1.2-api/src/main/java/org/apache/log4j/legacy/core/CategoryUtil.java
  log4j-1.2-api/src/test/java/org/apache/log4j/LoggerTest.java
  log4j-1.2-api/src/test/java/org/apache/log4j/helpers/OptionConverterLevelTest.java
  pom.xml
  src/changelog/.2.x.x/2282_fix_1_2_set_level.xml
Labels: bug, api

#2296 Performance optimization in CloseableThreadContext.closeMap() (#2292)
  log4j-api/src/main/java/org/apache/logging/log4j/CloseableThreadContext.java
  src/changelog/.2.x.x/improve_CloseableThreadContext_closeMap.xml
Labels: api

#2322 Fix `StatusLogger` time-zone issues and stack overflow
  log4j-api-test/src/test/java/org/apache/logging/log4j/status/StatusLoggerBufferCapacityTest.java
  log4j-api-test/src/test/java/org/apache/logging/log4j/status/StatusLoggerDateTest.java
  log4j-api-test/src/test/java/org/apache/logging/log4j/status/StatusLoggerFailingListenerTest.java
  log4j-api-test/src/test/java/org/apache/logging/log4j/status/StatusLoggerLevelTest.java
  log4j-api-test/src/test/java/org/apache/logging/log4j/status/StatusLoggerPropertiesUtilDoubleTest.java
  log4j-api/src/main/java/org/apache/logging/log4j/status/StatusData.java
  log4j-api/src/main/java/org/apache/logging/log4j/status/StatusLogger.java
  log4j-api/src/main/java/org/apache/logging/log4j/status/package-info.java
  src/changelog/.2.x.x/fix_StatusLogger_instant_formatting.xml
  src/changelog/.2.x.x/fix_StatusLogger_stack_overflow.xml
Labels: bug, api
