Repository apache/logging-log4j2, pull requests merged in 2024-09, with the labels that each got.

#2767 Reload key and certs in SockerAppender reconnector
  log4j-core-test/src/main/java/org/apache/logging/log4j/core/test/package-info.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/appender/BufferingErrorHandler.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/appender/FixedHostResolver.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/appender/HttpAppenderTest.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/appender/LineReadingTcpServer.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/appender/SecureSocketAppenderSocketOptionsTest.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/appender/SocketAppenderReconnectTest.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/appender/SocketAppenderSslSocketOptionsTest.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/appender/SslContexts.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/appender/TlsSyslogAppenderTest.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/net/SocketAppenderReconnectTest.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/net/ssl/KeyStoreConfigurationTest.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/net/ssl/SslConfigurationFactoryTest.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/net/ssl/SslConfigurationTest.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/net/ssl/SslKeyStoreConstants.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/net/ssl/TestConstants.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/net/ssl/TrustStoreConfigurationTest.java
  log4j-core-test/src/test/resources/HttpAppenderTest.xml
  log4j-core-test/src/test/resources/log4j-ssl-socket-options.xml
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/.gitignore
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/README
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/build/gencerts.sh
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/build/rootca.conf
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/build/server.conf
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/client.log4j2-keystore-nopass.p12
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/client.log4j2-keystore.jks
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/client.log4j2-keystore.p12
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/generate-stores.sh
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/keyStore-nopass.p12
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/keyStore.jks
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/keyStore.p12
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/keyStore2.jks
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/server.log4j2-crt.pem
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/server.log4j2.pem
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/trustStore.jks
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/trustStore2.jks
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/truststore.jks
  log4j-core/src/main/java/org/apache/logging/log4j/core/appender/AbstractAppender.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/appender/HttpURLConnectionManager.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/SmtpManager.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/SslSocketManager.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/UrlConnectionFactory.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/ssl/AbstractKeyStoreConfiguration.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/ssl/KeyStoreConfiguration.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/ssl/PasswordProvider.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/ssl/SslConfiguration.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/ssl/SslConfigurationFactory.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/ssl/StoreConfiguration.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/ssl/TrustStoreConfiguration.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/ssl/package-info.java
  log4j-jakarta-smtp/src/main/java/org/apache/logging/log4j/smtp/SmtpManager.java
  src/changelog/.2.x.x/2767_reload_key_stores.xml
  src/changelog/.2.x.x/2767_simplify_SSL_config_logic.xml
Labels: bug, appenders

#2932 Reload key & trust stores on reconfiguration
  log4j-core-test/src/main/java/org/apache/logging/log4j/core/test/net/ssl/TestConstants.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/appender/BufferingErrorHandler.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/appender/FixedHostResolver.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/appender/LineReadingTcpServer.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/appender/SocketAppenderReconnectTest.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/appender/SocketAppenderSslSocketOptionsTest.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/appender/SslContexts.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/appender/TlsSyslogAppenderTest.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/net/SocketAppenderReconnectTest.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/net/ssl/KeyStoreConfigurationTest.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/net/ssl/SslConfigurationFactoryTest.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/net/ssl/SslConfigurationTest.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/net/ssl/SslKeyStoreConstants.java
  log4j-core-test/src/test/java/org/apache/logging/log4j/core/net/ssl/TrustStoreConfigurationTest.java
  log4j-core-test/src/test/resources/log4j-ssl-socket-options.xml
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/.gitignore
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/README
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/build/gencerts.sh
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/build/rootca.conf
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/build/server.conf
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/client.log4j2-keystore.jks
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/generate-stores.sh
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/keyStore-nopass.p12
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/keyStore.jks
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/keyStore.p12
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/keyStore2.jks
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/server.log4j2-crt.pem
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/server.log4j2.pem
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/trustStore.jks
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/trustStore2.jks
  log4j-core-test/src/test/resources/org/apache/logging/log4j/core/net/ssl/truststore.jks
  log4j-core/src/main/java/org/apache/logging/log4j/core/appender/AbstractAppender.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/appender/HttpURLConnectionManager.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/config/ConfigurationSource.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/SslSocketManager.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/UrlConnectionFactory.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/ssl/AbstractKeyStoreConfiguration.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/ssl/KeyStoreConfiguration.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/ssl/PasswordProvider.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/ssl/SslConfiguration.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/ssl/SslConfigurationFactory.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/ssl/StoreConfiguration.java
  log4j-core/src/main/java/org/apache/logging/log4j/core/net/ssl/TrustStoreConfiguration.java
Labels: api, appenders

#2953 Enable `docker` profile in CI for `log4j-layout-template-json-test`
  log4j-layout-template-json-test/pom.xml
  log4j-layout-template-json-test/src/test/java/org/apache/logging/log4j/layout/template/json/LogstashIT.java
  log4j-parent/pom.xml
Labels: tests, layouts

#2949 Google OSS-Fuzz integration
  .mvn/wrapper/maven-wrapper.properties
  FUZZING.adoc
  log4j-core-fuzz-test/pom.xml
  log4j-core-fuzz-test/src/main/java/org/apache/logging/log4j/core/fuzz/PatternLayoutFuzzer.java
  log4j-core-its/pom.xml
  log4j-fuzz-test/.log4j-plugin-processing-activator
  log4j-fuzz-test/pom.xml
  log4j-fuzz-test/src/main/java/org/apache/logging/log4j/fuzz/EncodingAppender.java
  log4j-fuzz-test/src/main/java/org/apache/logging/log4j/fuzz/FuzzingUtil.java
  log4j-fuzz-test/src/main/java/org/apache/logging/log4j/fuzz/JsonEncodingAppender.java
  log4j-fuzz-test/src/main/java/org/apache/logging/log4j/fuzz/JsonUtil.java
  log4j-fuzz-test/src/main/java/org/apache/logging/log4j/fuzz/package-info.java
  log4j-layout-template-json-fuzz-test/.log4j-plugin-processing-activator
  log4j-layout-template-json-fuzz-test/pom.xml
  log4j-layout-template-json-fuzz-test/src/main/java/org/apache/logging/log4j/layout/template/json/fuzz/JsonTemplateLayoutCodecFuzzer.java
  log4j-layout-template-json-fuzz-test/src/main/java/org/apache/logging/log4j/layout/template/json/fuzz/JsonTemplateLayoutFuzzer.java
  log4j-layout-template-json-test/pom.xml
  log4j-layout-template-json-test/src/test/java/org/apache/logging/log4j/layout/template/json/util/JsonWriterTest.java
  log4j-layout-template-json/src/main/java/org/apache/logging/log4j/layout/template/json/util/JsonWriter.java
  log4j-osgi-test/pom.xml
  log4j-parent/pom.xml
  log4j-perf-test/README.adoc
  log4j-perf-test/pom.xml
  log4j-slf4j2-impl-fuzz-test/pom.xml
  log4j-slf4j2-impl-fuzz-test/src/main/java/org/apache/logging/slf4j/fuzz/Slf4jLoggerFacade.java
  log4j-slf4j2-impl-fuzz-test/src/main/java/org/apache/logging/slf4j/fuzz/Slf4jToLog4jBridgeWithJsonTemplateLayoutFuzzer.java
  log4j-slf4j2-impl-fuzz-test/src/main/java/org/apache/logging/slf4j/fuzz/Slf4jToLog4jBridgeWithPatternLayoutFuzzer.java
  log4j-slf4j2-impl-fuzz-test/src/main/resources/Slf4jToLog4jBridgeWithJsonTemplateLayoutFuzzer.xml
  log4j-slf4j2-impl-fuzz-test/src/main/resources/Slf4jToLog4jBridgeWithPatternLayoutFuzzer.xml
  mvnw
  mvnw.cmd
  oss-fuzz-build.sh
  pom.xml
  src/changelog/.2.x.x/2949_add_fuzzing.xml
  src/changelog/.2.x.x/fix_JsonWriter_surrogate_handling.xml
  src/site/antora/modules/ROOT/pages/development.adoc
Labels: tests

#3007 Migrate log4j-jdbc-dbcp2 to JUnit 5
  log4j-jdbc-dbcp2/pom.xml
  log4j-jdbc-dbcp2/src/test/java/org/apache/logging/log4j/core/appender/db/jdbc/PoolableConnectionFactoryTest.java
  log4j-jdbc-dbcp2/src/test/java/org/apache/logging/log4j/core/appender/db/jdbc/PoolingDriverConnectionSourceTest.java
Labels: tests, appenders, appenders:JDBC

#3029 refactor: Migrate `log4j-jpl` to JUnit5
  log4j-jpl/pom.xml
  log4j-jpl/src/test/java/org/apache/logging/log4j/jpl/Log4jSystemLoggerTest.java
Labels: tests
